/* RESET CSS */
html {
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
body,
p,
input,
textarea {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin: 0.8rem 0;
}

h3 {
  margin: 0.6rem 0;
}

p,
span,
li,
label {
  color: #333;
}

p {
  line-height: 1.4;
}

/* FORM */
form {
  padding: 12px;
}

form > div {
  margin-bottom: 0.7rem;
}

form label {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
}

input,
textarea,
select {
  display: block;
  padding: 6px 8px;
  min-width: 300px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #444;
}

textarea {
  height: 8rem;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

button {
  margin-right: 6px;
  padding: 0 18px;
  line-height: 30px;
  letter-spacing: 0.1rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  background-color: #eee;
}

button.small {
  padding: 0 12px;
  letter-spacing: normal;
  line-height: 20px;
}

button.primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

button.delete {
  color: rgb(218, 89, 89);
  border-color: rgb(218, 89, 89);
  background-color: #fff;
}

button:hover {
  background-color: #ccc;
}

button.primary:hover {
  background-color: #1eaedb;
  border-color: #1eaedb;
}

button.delete:hover {
  background-color: rgb(255, 227, 227);
}

/* SECTIONS */

.wrapper {
  display: flex;
}

.app__form {
  min-width: 32%;
  margin-left: 1.6rem;
  padding: 18px;
}

.app__info {
  /* a4 size */
  width: 595pt;
  height: 842pt;
  align-self: flex-start;
  padding: 32pt 32pt;
  margin-left: 3rem;
  margin-right: 3rem;
  border: 1px solid #bbb;
}

.app__info p,
.app__info li,
.app__info h2,
.app__info h3 {
  font-family: "Segoe UI", sans-serif;
}

.form-personal,
.form-education,
.form-experience {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

.form-personal h2,
.form-education h2,
.form-experience h2 {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 8px;
  border-left: 8px solid #1eaedb;
}

.form-personal form {
  padding-bottom: 0;
}

.form-education .text-helper,
.form-experience .text-helper {
  color: #777;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.form-education .education-list,
.form-experience .experience-list {
  padding-top: 10px;
  border-top: 1px solid #aaa;
}

.form-education .education-list div,
.form-experience .experience-list div {
  margin-bottom: 8px;
}

.form-education .education-list span,
.form-experience .experience-list span {
  font-size: 0.8rem;
  font-weight: 700;
  color: #4775f3;
}

.cv-education,
.cv-experience {
  margin-top: 1.4rem;
}

.cv-education h2,
.cv-experience h2 {
  margin-top: 0;
  color: #1eaedb;
  text-transform: uppercase;
}

.cv-education .item-header,
.cv-experience .item-header {
  display: flex;
  justify-content: space-between;
}

.cv-education h3,
.cv-experience h3 {
  margin: 0 0 6px;
  font-size: 1rem;
}

.cv-education .list > div,
.cv-experience .list > div {
  margin-bottom: 12px;
}

.cv-education .list p,
.cv-experience .list p {
  line-height: 1.2rem;
}
