.cv-experience h3 {
  text-decoration: underline;
}

.cv-experience .company {
  color: #db1eb2;
}

.cv-experience .date {
  font-style: italic;
  font-size: 0.9rem;
}

.cv-experience .description {
  text-align: justify;
  color: #666;
}
