.cv-education h3 {
  text-decoration: underline;
}

.cv-education .major {
  color: #db1eb2;
}

.cv-education .date {
  font-style: italic;
  font-size: 0.9rem;
  color: #777;
}

.cv-education .location {
  font-size: 0.9rem;
}
